<!doctype html>
<html id="top" lang="<%= I18n.locale %>">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Use the title from a page's frontmatter if it has one -->
        <title><%= current_page.data.title  "Sebastian Rudolfo Christ" %></title>
        <!-- Favicons etc -->
        <link href="/manifest.webmanifest" rel="manifest"/>
        <link href="/favicon-4c4afe4f187aeecfc5af3e2937f3753be0a43c25.ico" rel="icon" sizes="32x32" />
        <link href="/icon-1416b554e8cc81e0998027f65e52434ce845eb93.svg" rel="icon" type="image/svg+xml" />
        <link href="/apple-touch-icon-c0944ac51cc119cad33725ba85b87df6b24b848c.png" rel="apple-touch-icon"/>
        <%= stylesheet_link_tag "iframemanager" %>
        <%= stylesheet_link_tag "cookieconsent" %>
        <%= stylesheet_link_tag "application" %>
    </head>
    <body>
        <div class="container">
            <header class="primary-header">
                <div class="nav-wrapper">
                    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                        <%= image_tag "icon-burger.svg", class: "icon icon-burger", "aria-hidden" => true %>
                        <%= image_tag "icon-close.svg", class: "icon icon-close display-none", "aria-hidden" => true %>
                    </button>
                    <%= partial :nav, locals: { hard_links: true } %>
                </div>
            </header>
            <main>
                <%= yield %>
            </main>
            <footer>
                <ul role="list">
                    <li>&copy; <%= year_range %> Sebastian Rudolfo Christ</li>
                    <li><%= link_to t(:imprint), "imprint.html" %></li>
                    <li><%= link_to t(:privacy_policy), "privacy-policy.html" %></li>
                    <li><%= link_to t(:cookie_preferences), "javascript: false;", data: { cc: "show-preferencesModal" } %></li>
                </ul>
            </footer>
        </div>
        <%= javascript_include_tag "iframemanager" %>
        <%= javascript_include_tag "cookieconsent" %>
        <%= javascript_include_tag "application" %>
    </body>
</html>
