<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Use the title from a page's frontmatter if it has one -->
        <title><%= current_page.data.title  "Sebastian Rudolfo Christ" %></title>
        <!-- Favicons etc -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=02">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=02">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=02">
        <link rel="manifest" href="/site.webmanifest?v=02">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=02" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico?v=02">
        <meta name="apple-mobile-web-app-title" content="Sebastian Rudolfo Christ">
        <meta name="application-name" content="Sebastian Rudolfo Christ">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- Styles -->
        <!-- Scripts -->
        <%= javascript_include_tag "application" %>
    </head>
    <body>
        <nav class="main-nav">
            <ul>
                <li><%= link_to "Home", "#home" %></li>
                <li><%= link_to "About", "#about" %></li>
                <li><%= link_to "Shows", "#shows" %></li>
                <li><%= link_to "Media", "#media" %></li>
                <li><%= link_to "Teaching", "#teaching" %></li>
            </ul>
        </nav>
        <main>
            <%= yield %>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><%= link_to "Home", "#home" %></li>
                    <li><%= link_to "About", "#about" %></li>
                    <li><%= link_to "Shows", "#shows" %></li>
                    <li><%= link_to "Media", "#media" %></li>
                    <li><%= link_to "Teaching", "#teaching" %></li>
                </ul>
            </nav>
            <div class="content">
                <ul>
                    <li><%= link_to "Impressum", "/imprint.html" %></li>
                    <li><%= link_to "Datenschutzerklärung", "/privacy-policy.html" %></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
