<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title  "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <ul id="lang-select">
      <li class="<%= active_nav '/de' %>"><%= link_to "DE", "/de/" %></li>
      <li>/</li>
      <li class="<%= active_nav '/en' %>"><%= link_to "EN", "/en/" %></li>
    </ul>
    <header>
      <% link_to 'index.html' do%>
      <h1>Sebastian <span class="boxed">Rudolfo</span> Christ</h1>
      <p>Traditional <span class="boxed">Acoustic Jazz</span> Guitarist</p>
      <% end %>
    </header>
    <nav>
      <ul>
        <li class="<%= active_nav '/about' %>"><%= link_to t(:about), "/about.html" %></li>
        <li class="<%= active_nav '/music' %>"><%= link_to t(:music), "/music.html" %></li>
        <li class="<%= active_nav '/tour' %>"><%= link_to t(:tour), "/tour.html" %></li>
        <li class="<%= active_nav '/media' %>"><%= link_to t(:media), "/media.html" %></li>
        <li class="<%= active_nav '/contact' %>"><%= link_to t(:contact), "/contact.html" %></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <ul>
        <li>Copyright &#169; <%= year_range %> Sebastian Christ</li>
        <li><%= link_to t(:imprint), "imprint.html" %></li>
        <li><%= link_to t(:privacy_policy), "privacy-policy.html" %></li>
      </ul>
    </footer>
  </body>
</html>
