<nav class="<%= nav_type %>">
    <ul>
        <% if hard_links %>
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "About", "/#about" %></li>
            <li><%= link_to "Shows", "/#shows" %></li>
            <li><%= link_to "Media", "/#media" %></li>
            <li><%= link_to "Teaching", "/#teaching" %></li>
        <% else %>
            <li><%= link_to "Home", "#home" %></li>
            <li><%= link_to "About", "#about" %></li>
            <li><%= link_to "Shows", "#shows" %></li>
            <li><%= link_to "Media", "#media" %></li>
            <li><%= link_to "Teaching", "#teaching" %></li>
        <% end %>
        <li><%= mail_to "me@rudolfochristguitar.de", "Kontakt" %></li>
    </ul>
</nav>
