---
title: Sebastian Rudolfo Christ
---

<section>
    <div class="even-columns">
        <div>
            <div class="logo">
                <%= image_tag "src-logo.svg", width: "360px", alt: "Sebastian Rudolfo Christ Logo" %>
            </div>
            <h2 class="text-center secondary-heading">Swingin' like it's 1935</h2>
        </div>
        <div>
            <%= image_tag "me.jpg", width: "512px", alt: "Sebastian Rudolfo Christ plays guitar in a coffee shop." %>
        </div>
    </div>
</section>

<section>
    <div class="even-columns">
        <p class="fw-bold text-justified">
            A musical journey through time to the
            golden era of European Jazz.
        </p>
        <p class="fw-bold text-justified">
            Experience Hot Jazz and Swing inspired by Django Reinhardt
            and the Quintette du Hot Club de France.
        </p>
    </div>
</section>

<section class="mailing-list">
    <div class="even-columns grid-flow-row">
        <p class="text-center secondary-heading">
            Newsletter
        </p>
        <ul class="mailing-list-details">
            <li>Concerts</li>
            <li>Album Releases</li>
            <li>Workshops</li>
            <li>and more</li>
        </ul>
        <div class="text-center">
            <% link_to "https://flow.cleverreach.com/fl/3a4c0119-1ea3-4afd-a0af-1a717bc6bb57/", target: "_blank", ref: "nofollow"  do %>
                <button class="button">Subscribe</button>
            <% end %>
        </div>
        <p class="mailing-list-text">
            Each subscriber has access to a private YouTube playlist
            with <span class="fw-bold">exclusive videos</span>, <span class="fw-bold">transcriptions</span> and <span class="fw-bold">livestreams</span>!
        </p>
        <p class="mailing-list-text underlined">
            Please note: The newsletter is mostly written in German!
        </p>
    </div>
</section>

<section id="about">
    <h1 class="primary-heading">About</h1>
    <div class="content">
        <p class="padding-block-400">
            Sebastian Rudolfo Christ has dedicated his musical work to
            the music of Django Reinhardt and the <em>Quintette du Hot
            Club de France</em>. Like few contemporary interpreters of jazz
            manouche today, he prefers the old, unfiltered and
            traditional sound, which he transports authentically from
            moustache to toe into the present day.
        </p>
        <p class="padding-block-400">
            Sebastian Rudolfo Christ is the third youngest member of an
            old family of musicians from Worms. So he was actually
            well equipped to grow musically. However, it was not until
            he was fifteen that he picked up a guitar and began to
            learn the instrument. Due to his family background, jazz,
            especially swing, had been a constant companion since
            childhood and so it was not very long before Sebastian
            Rudolfo Christ became acquainted with the music of
            Stéphane Grappelli and Django Reinhardt. Shortly
            afterwards, however, all musical ambitions were put on
            hold due to a serious injury to his right hand. The guitar
            disappeared in its case.
        </p>
        <p class="padding-block-400">
            One or two degrees in computer science later, Sebastian
            Rudolfo Christ found himself in the south of Spain. There,
            in one of the most beautiful places in the world, the
            geographical distance from his family made him feel
            increasingly lonely. This changed when he found joy in
            music, jazz, the guitar and, of course, the music of
            Django Reinhardt. Sebastian packed his things, took his
            guitar and went back to Germany to work on his old dream
            of being able to play music in the style of Django
            Reinhardt and the <em>Quintette du Hot Club de France</em>.
        </p>
        <p class="padding-block-400">
            To this end, he took further lessons and deepened his
            existing knowledge through workshops with Thomas Haag,
            Rehan Syed, Gismo Graf, Wawau Adler and also
            internationally with Samy Daussat and Romain Vuillemin in
            Paris. This enabled him to become one of the most
            sought-after jazz manouche guitarists in his region within
            a very short space of time. Today, Sebastian Rudolfo
            Christ is deeply networked in the scene and has already
            had the honor of sharing the stage with great musicians
            such as Samy Daussat, Mozes Rosenberg, Samson and Dorado
            Schmitt.
        </p>
        <p class="padding-block-400">
            <em>
                &laquo;Let me show you that the old swing jazz, the
                traditional jazz manouche, the music of Django
                Reinhardt and the Hot Club de France has lost none of
                its joie de vivre, energy and virtuoso expression over
                the last 90 years. Enjoy the musical journey back in
                time to the 30s and 40s of the twentieth century and
                celebrate the golden era of jazz.&raquo;
            </em>
        </p>
        <p class="padding-block-400">
            Translated with <%= link_to "DeepL.com", "https://www.deepl.com/translator" %> (free version).
        </p>
    </div>
</section>

<section id="shows">
    <h1 class="primary-heading">Upcoming Shows</h1>
    <ul class="shows" role="list">
        <% upcoming_events.each do |event| %>
            <%= partial :show, locals: { event: event } %>
        <% end %>
    </ul>
    <div class="padding-block-400">
        <%= link_to "More shows...", "shows.html" %>
    </div>
</section>

<section id="contact">
    <h1 class="primary-heading">Contact</h1>
    <p class="padding-block-400">
        Booking requests via email to <%= mail_to "info@rudolfochristguitar.de" %>
    </p>
    <p class="padding-block-400">
        Whether as a guitar duo, trio, quartet or quintet. Whether
        accompanied by violin, clarinet or vocals. No matter if
        birthday, wedding or company party. I offer musical
        entertainment for every occasion. Talk to me!
    </p>
    <p class="padding-block-400">A selection of my projects:</p>
    <div class="even-columns">
        <div class="project">
            <%= image_tag "miro-trio.jpg", alt: "Miro Trio Band Foto" %>
            <h5 class="text-center padding-block-400">Miro Trio</h5>
        </div>
        <div class="project">
            <% link_to "https://www.mainouche.de/" do %>
                <%= image_tag "mainouche.jpg", alt: "Mainouche Band Foto" %>
                <h5 class="text-center padding-block-400">Mainouche</h5>
            <% end %>
        </div>
        <div class="project">
            <% link_to "https://www.hotclubworms.de/" do %>
                <%= image_tag "hcw.png", alt: "Hot Club Worms Logo", class: "bordered" %>
                <h5 class="text-center padding-block-400">Hot Club Worms</h5>
            <% end %>
        </div>
        <div class="project">
            <% link_to "https://www.instagram.com/garedujazz4tet/" do %>
                <%= image_tag "gdj.jpg", alt: "Gare du Jazz Band Foto-Collage" %>
                <h5 class="text-center padding-block-400">Gare du Jazz</h5>
            <% end %>
        </div>
    </div>
</section>

<section id="teaching">
    <h1 class="primary-heading">Unterricht</h1>
    <p class="padding-block-400">
        Guitar lessons (individual or group lessons)
        <ul role="topics">
            <li>Jazz Manouche</li>
            <li>Swing</li>
            <li>Traditional Jazz</li>
        </ul>
    </p>
    <p class="padding-block-400" class="padding-block-400">
        The lessons cover following topics
        <ul role="topics">
            <li>correct picking technique (rest stoke technique)</li>
            <li>Rhythm guitar an comping</li>
            <li>Chords and chord voicings</li>
            <li>Improvisation</li>
        </ul>
    </p>
    <p class="padding-block-400">
        You should have a basic knowledge of the guitar.
    </p>
    <p class="padding-block-400">
        I try to teach with as little music theory as possible and
        focus on immediate implementaion of the learned concepts.
    </p>
    <p class="padding-block-400">
        I teach in Worms and surrounding area. Lessons in Rhine-Main
        or Rhine-Neckar area (Mannheim, Heidelberg, Mainz, etc.) are
        also possible if travel expenses are covered.
    </p>
    <p class="padding-block-400">
        If you're interested, please contact me: <%= mail_to "me@rudolfochristguitar.de" %>.
    </p>
</section>
