---
title: Sebastian Rudolfo Christ
---

<section>
    <div class="even-columns">
        <div>
            <div class="logo">
                <%= image_tag "src-logo.svg", width: "360px", alt: "Sebastian Rudolfo Christ Logo" %>
            </div>
            <h2 class="text-center secondary-heading">No Games, Just Jazz.</h2>
        </div>
        <div>
            <%= image_tag "me.jpg", width: "512px", alt: "Sebastian Rudolfo Christ spielt Gitarre in einem Café." %>
        </div>
    </div>
</section>

<section class="mailing-list">
    <div class="even-columns grid-flow-row">
        <p class="text-center">
            Stets informiert mit dem Newsletter!
        </p>
        <div class="text-center">
            <% link_to "#" do %>
                <button class="button">Hier abonnieren</button>
            <% end %>
        </div>
        <p>
            Informieren Sie sich über:
        </p>
        <ul class="mailing-list-details">
            <li>Konzerte</li>
            <li>Jam Sessions</li>
            <li>Performaces</li>
            <li>Workshops</li>
            <li>Album Releases</li>
            <li>und vieles mehr...</li>
        </ul>
    </div>
</section>

<section id="about">
    <h1 class="primary-heading">Biographie</h1>
    <div class="content">
        <p class="padding-block">
            Sebastian Rudolfo Christ hat sein musikalisches wirken Django
            Reinhardt verschieben. Dabei setzt er sich etwas vom
            vorherrschenden Jazz manouche ab in dem er der alten Sound
            nach heute bringt und Authentizität vom Schnurrbart bis in die
            Schuhspitzen mitbringt.
        </p>
        <p class="padding-block">
            Sebastian Rudolfo Christ ist der dritt-jüngste Sproß einer
            alten Musikerfamilie aus Worms und war somit in einer guten
            Situation um musikalisch zu Wachsen zu können hineingeboren
            worden. Jedoch sollte es bis zu seinem fünfzehnten Lebensjahr
            dauern bis ein Gitarre in die Hand nahm und anfing das
            Instrument zu erlernen. Familär-bedingt war der Jazz seit
            kindheitstagen an ein ständiger Begleiter und so dauerte es
            nicht sehr lange bis Sebastian Rudolfo Christ die Musik von
            Stéphane Grappelli und Django Reinhard, dem Quintette du Hot
            Club de France, Bekanntschaft machten. Jedoch wurde kurz
            darauf sämtliche musikalische Ambitionen durch ein garvierende
            Verletzung an der Hand je unterbrochen. Die Gitarre verschwand
            in ihrem Koffer.
        </p>
        <p class="padding-block">
            Ein zwei Informatik-Studiums später fand sich Sebastian
            Rudolfo Christ Süden Spanies wieder. Getrennt von seiner
            Familie befand er sich wohl an einen der schönsten Orter der
            Welt war jedoch im Grunde sehr einsam. In dieser Einsamkeit
            fand er wieder Freude an der Musik, am Jazz, der Giatrre und
            natürlich auch an Django Reihardt. Sebastian Rudolfo Christ
            packte sein Sachen, nahm seine Giatrre und ging zurück nach
            Deutschland und künpfte an seinem alten Traum an Musik im
            Stile Django Reinhardts und dem Quitnette du Hot Club de
            France zu machen.
        </p>
        <p class="padding-block">
            Er nahm Unterricht, besuchte Workshops bei Thomas Haag, Rehan
            Syed, Gismo Graf, Wawau Adler und auch international bei Samy
            Dausset und Romain Vuillemin in Paris und innerhalb kürzester
            Zeit gelang es ihm zu einem der gefragtesten Jazz manouche
            Gitarristen in seiner Region zu werden. Heute ist Sebastian
            Rudolf Christ tief in der Szene vernetzt und hatte die Ehre
            mit großartigen Musiker wie Samy Daussat, Mozes Rosenberg,
            Samson Schmitt und Dorado Schmitt die Bühne zu teilen.
        </p>
        <p class="padding-block">
            Sebastian Rudolfo Christ ist dabei nicht irgendein Jazz
            manouche Gitarrist, sonder hat sich wie nur wenige voll und
            ganz dem alten, ungefilterten und traditionellen Sound Django
            Reinhardts und dem Swing Jazz der 1930er Jahre
            verschrieben. Sie mich Ihnen zeigen das alter Swing Jazz, der
            traditionalle Jazz manouche, die Musik Django Reinhardts und
            dem Hot Club de France in den letzten 100 Jahre nichts an
            seiner Lebensfreude, seiner Energie und virtuosen Ausdruck
            eingebüsst hat. Lassen Sie sich zu einer musikalischen
            Zeitreise in die 30er und 40er Jahre des zwanzigsten
            Jahunderts mitnehemen und feiern Sie die goldene Era der Musik
            mit.
        </p>
    </div>
</section>

<section id="shows">
    <h1 class="primary-heading">Shows</h1>
    <div class="content">
        <p>Shows content</p>
    </div>
</section>

<section id="teaching">
    <h1 class="primary-heading">Unterricht</h1>
    <p class="padding-block">
        Gitarren Einzel- und Gruppenunterricht
        <ul role="topics">
            <li>Jazz Manouche</li>
            <li>Swing</li>
            <li>Traditional Jazz</li>
        </ul>
    </p>
    <p class="padding-block" class="padding-block">
        Der Unterricht vermittelt die folgenden Inhalte
        <ul role="topics">
            <li>korrekte Picking Technique (rest stoke technique)</li>
            <li>Rhythmus und Begleitung</li>
            <li>Akkorde und Chord Voicings</li>
            <li>Improvisation</li>
        </ul>
    </p>
    <p class="padding-block">
        Grundkenntnisse an der Gitarre sollten vorhanden sein.
    </p>
    <p class="padding-block">
        Meine didaktische Methode orientiert sich an der Chang/van Hemert-Methode und versucht mit so wenig musiktheoretischen Inhalten und ohne Noten die obigen Themenbereiche zu vermitteln. Das spielerische Ausprobieren und der Fokus auf das sofortige Umsetzen der Lerninhalte sorgt dafür, dass das Erlernte sich tief verwurzelt und gleich dem Erlernen einer Sprache in die Spielweise und den musikalischer Ausdruck einfließt.
    </p>
    <p class="padding-block">
        Unterrichtsort ist Worms oder auf Wunsch an einem anderen Ort im näheren Einzugsgebiet. Unterricht vor Ort im Rhein-Main- oder Rhein-Neckar-Gebiet (Mannheim, Heidelberg, Mainz, etc.) ist ebenfalls gegen eine Anfahrtspauschale möglich.
    </p>
    <p class="padding-block">
        Preis: 35 €/h
    </p>
    <p class="padding-block">
        Bei Interesse kontaktieren Sie mich bitte unter <%= mail_to "me@rudolfochristguitar.de" %>.
    </p>

</section>

<section id="contact">
    <h1 class="primary-heading">Kontakt</h1>
    <p class="padding-block">
        Buchungsanfragen gerne per E-Mail an <%= mail_to "me@rudolfochristguitar.de" %>
    </p>
    <p class="padding-block">
        Ob als Gitarren-Duo, Trio, Quartett bis hin zum Quintett. Ob
        begleitend mit Geige, Klarinette oder Gesang. Egal ob
        Geburtstag, Hochzeit oder Firmenfeier. Ich biete musikalische
        Unterhalten für jeden Anlass.
    </p>
    <p class="padding-block">Eine Auswahl meiner Projekte:</p>
    <div class="even-columns">
        <div class="project">
            <%= image_tag "miro-trio.jpg" %>
            <h5 class="text-center padding-block">Miro Trio</h5>
        </div>
        <div class="project">
            <% link_to "https://www.mainouche.de/" do %>
                <%= image_tag "mainouche.jpg" %>
                <h5 class="text-center padding-block">Mainouche</h5>
            <% end %>
        </div>
        <div class="project">
            <% link_to "https://www.hotclubworms.de/" do %>
                <%= image_tag "hcw.png" %>
                <h5 class="text-center padding-block">Hot Club Worms</h5>
            <% end %>
        </div>
        <div class="project">
            <% link_to "https://www.instagram.com/garedujazz4tet/" do %>
                <%= image_tag "gdj.jpg" %>
                <h5 class="text-center padding-block">Gare du Jazz</h5>
            <% end %>
        </div>
    </div>
</section>
