---
title: Gallerie
layout: gallery
---
<div class="col-6">
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="IzomSV_9WKY"
        data-autoscale>
    </div>
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="_4o6mOIbCvU"
        data-autoscale>
    </div>
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="vKHyBGPc9-o"
        data-autoscale>
    </div>
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="Zy1ISYf5qR4"
        data-autoscale>
    </div>
    <%= image_tag "pics/7.jpg", class: "rounded-corners", alt: "Miro Trio Live" %>
    <%= image_tag "pics/2.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
    <%= image_tag "pics/3.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
</div>
<div class="col-6">
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="I2yH-CIwEE4"
        data-autoscale>
    </div>
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="W-TVZgGNcTI"
        data-autoscale>
    </div>
    <%= image_tag "pics/4.jpg", class: "rounded-corners", alt: "Mainouche Band" %>
    <%= image_tag "pics/1.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
    <%= image_tag "pics/5.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
    <%= image_tag "pics/6.jpg", class: "rounded-corners", alt: "Miro Trio" %>
</div>
