---
title: Sebastian Rudolfo Christ
---

<section>
    <h1 id="home">Sebastian Rudolfo Christ</h1>
    <div class="content">
        <p>Home Content</p>
    </div>
</section>

<section>
    <nav>
        <ul>
            <li><%= link_to "Home", "#home" %></li>
            <li><%= link_to "About", "#about" %></li>
            <li><%= link_to "Shows", "#shows" %></li>
            <li><%= link_to "Media", "#media" %></li>
            <li><%= link_to "Teaching", "#teaching" %></li>
        </ul>
    </nav>
    <h1 id="about">Biographie</h1>
    <div class="content">
        <p>About Content</p>
    </div>
</section>

<section>
    <nav>
        <ul>
            <li><%= link_to "Home", "#home" %></li>
            <li><%= link_to "About", "#about" %></li>
            <li><%= link_to "Shows", "#shows" %></li>
            <li><%= link_to "Media", "#media" %></li>
            <li><%= link_to "Teaching", "#teaching" %></li>
        </ul>
    </nav>
    <h1 id="shows">Shows</h1>
    <div class="content">
        <p>Shows content</p>
    </div>
</section>

<section>
    <nav>
        <ul>
            <li><%= link_to "Home", "#home" %></li>
            <li><%= link_to "About", "#about" %></li>
            <li><%= link_to "Shows", "#shows" %></li>
            <li><%= link_to "Media", "#media" %></li>
            <li><%= link_to "Teaching", "#teaching" %></li>
        </ul>
    </nav>
    <h1 id="media">Media</h1>
    <div class="content">
        <p>Media content</p>
    </div>
</section>

<section>
    <nav>
        <ul>
            <li><%= link_to "Home", "#home" %></li>
            <li><%= link_to "About", "#about" %></li>
            <li><%= link_to "Shows", "#shows" %></li>
            <li><%= link_to "Media", "#media" %></li>
            <li><%= link_to "Teaching", "#teaching" %></li>
        </ul>
    </nav>
    <h1 id="teaching">Unterricht</h1>
    <div class="content">
        <p>Teaching content</p>
    </div>
</section>
